{% include 'header.html' %}

<body>

<div class="main-container-login" style="align-self: center">

    <img class="vector-bg1" src="/static/assets/images/bg-vector1.png" alt="background vector">
    <img class="vector-bg2" src="/static/assets/images/bg-vector2.png" alt="background vector">

    <div class="shadow mb-5 bg-white rounded shadow-card-login">
        <div class="logo-img-signup">
            <img class="" src="/static/assets/images/logo.png" alt="logo">
            <h2 class="login-heading">Reset Password</h2>
        </div>

        <form class="signup-form" action="{{ url_for('reset_password') }}" method="post" enctype="multipart/form-data">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div id="flash">
                            <p class="flash_message">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if otp_send %}

                <div class="mb-3">
                    <label for="email" class="form-label">otp has been sent to your email address<br><b>{{ email }}</b>.</label>
                    <input required maxlength="6" type="text" id="email" name="OTP" class="form-control" placeholder="Enter OTP">
                </div>

                <div id="signup-btn">
                    <button type="submit" class="btn btn-primary" name="reset_password">Reset Password</button>
                </div>
            {% elif otp_confirmed %}

                <div style="text-align: left" class="mb-3">
                    <label for="newPassword">New password</label>
                    <input required minlength="8" maxlength="50" type="password" name="New_Password" class="form-control" id="newPassword"
                           placeholder="Enter new password">
                </div>

                <div style="text-align: left" class="mb-3">
                    <label for="confirmPassword">Confirm password</label>
                    <input required minlength="8" maxlength="50" type="password" name="Confirm_Password" class="form-control"
                           id="confirmPassword" placeholder="confirm password">
                </div>

                <div id="signup-btn">
                    <button type="submit" class="btn btn-primary" name="change_password">Change Password</button>
                </div>
            {% else %}
                <div class="mb-3" style="text-align: left;">
                    <label for="email" class="form-label">Enter your email</label>
                    <input required maxlength="100" type="email" id="email" name="Email" class="form-control" placeholder="Enter email">
                </div>

                <div id="signup-btn">
                    <button type="submit" class="btn btn-primary" name="send_otp">Send Otp</button>
                </div>

            {% endif %}
        </form>

        <p class="have-account-btn">Can't log in? <a href="{{ url_for('signup_page') }}"> . Create an account</a></p>

    </div>
</div>

</body>
